<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title >Stopwatch</mat-card-title>
    <mat-card-subtitle >For Trainers</mat-card-subtitle>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <h1 class="mat-display-3 text-centered">
    {{hoursDisplay}} : {{minutesDisplay}} : {{secondsDisplay}} : {{millisecondsDisplay}}
  </h1>
  <mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <h3 class="mat-display-1 text-centered gray">
      {{hoursDisplayLap}} : {{minutesDisplayLap}} : {{secondsDisplayLap}} : {{millisecondsDisplayLap}}
    </h3>
    <mat-divider [inset]="true"></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-center">
      <button mat-button color="primary" (click)="start()">START</button>
      <button mat-button color="warn" (click)="stop()">STOP</button>
      <button mat-button color="accent" (click)="lap()">LAP</button>
      <button mat-button color="warn" (click)="reset()">RESET</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Laps </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngIf="laps.length <= 0">
        <span class="lap-empty">No recorded laps.</span>
      </mat-list-item>
      <mat-list-item *ngFor="let lap of laps; let idx = index">
        <span class="lap-enumeration">Lap {{idx + 1}}.</span>
        <span class="lap-total-time">{{lap[0]}}</span>
        <span class="lap-time">{{lap[1]}}</span>
        <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
