.example-card {
  max-width: 400px;
  width: 400px;
  margin-bottom: 25px;
}

.lap-enumeration {
  width: 20%;
  text-align: left;
}

.lap-total-time {
  width: 47%;
  text-align: center;
  color: #673ab7;
}

.lap-time {
  width: 33%;
  text-align: right;
}

.lap-empty {
  width: 100%;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.text-centered {
  text-align: center;
  margin-bottom: 0 !important;
}

.gray {
  color: gainsboro;
}

.button-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
